<app-navbar></app-navbar><main>
  <div class="intro">
    <h1>ICT Exit Test</h1>
    
  </div>
  
  <div class="about-me">
    <div class="about-me-text">
      <h2>Requirements</h2>
      <p>

        1. Create a front-end form (Angular)
        
        A. Email (label)
        B. Textbox
        C. Submit Button
        2. Upon submitting the button,  a random OTP has to be sent to the respective email (Node/Express)
        3. At the same time, the OTP has been saved to the DB (MongoDB)
        4. A new form has to replace the existing form to enter the OTP (Angular)
        A. Enter OTP (label)
        B. Textbox
        C. Submit Button
        5. Upon submitting the OTP, the OTP entered should be matched with the DB (BackEnd Authentication)
        A. If (matched) - Redirect to a Welcome page
        B. Else - Alert the user with an invalid message
        6. Host this website on any platform.</p>
    </div>
   
  </div>
</main>